.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuList {
  margin: 0;
  padding: 10%;
  display: flex;
  justify-content: space-around;
}

.listElement {
  margin: 0 6%;
  list-style: none;
}

.linkedList {
  font-size: 18px;
  text-decoration: none;
  color: snow;
}

.linkedList:hover {
  color: greenyellow;
}
