.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.quote {
  width: 50%;
}

.quote-title {
  font-size: 20px;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 700px;
}

.screen {
  text-align: right;
  font-size: 24px;
  padding: 3% 1%;
  width: 98%;
  color: white;
  background-color: rgb(182, 186, 200);
}

.buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.calc-btn {
  padding: 15%;
  font-size: 12px;
  background-color: rgb(249, 250, 250);
}

.operation {
  background-color: orange;
  border: none;
  border-top: solid 1px whitesmoke;
}

.numbers,
.special {
  border: none;
  border-top: solid 1px lightgray;
  border-right: solid 1px lightgray;
}

.btn-0 {
  padding: 0;
  grid-column: 1 / 3;
}
